




body{
  font-family: 'Exo', sans-serif;
  min-height: auto;
  overflow:scroll;
  margin:0;
  height:100%;
  position: relative;


}


.flex-container {
  display: flex;
  min-height:100%;
  position:relative;

}


.flex2 {
  margin: 15px 20px;

} 
.dropstart{
  margin: 3px;
}

button .tab {
  padding: 30px;
  
}
.DropMenu{
  background-color: #060e12 !important;
  border-radius: 15px !important;
  -webkit-box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3) !important;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3) !important;
  border-width: 0 !important;

}
.dropdown-menu {
  background-color: transparent !important;
}

h1 {
  color: #fff;
  text-align: center;
  font-family: Bebas Neue;
  font-size: 2.5rem !important;

}
.DropMenu{
  background-color: rgb(160, 168, 49) !important;
  padding-right: 90px !important;
}
.box {
  max-width: 400px;
  margin: 50px auto;
  background: rgb(160, 168, 49);
  border-radius: 5px;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);

  
}


.item {
  min-height: 40px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #F1F1F1;
  
}

.item:last-child {
  border-bottom: 0;
}



input[type="checkbox"] {
  margin: 20px;
}

p {
  padding:  0 20px;
  font-size: 20px;
  font-weight: 250;
  color: #00204a;
  margin-top: 12px !important;
}

form.oriForm {
  text-align: center;
  margin-left: 20px;
  
}

button {
  min-height: 50px;
  width: 50px;
  border-radius: 50%;
  border-color: transparent;
  background-color: #4e54c8;
  color: #fff;
  font-size: 30px;
  padding-bottom: 6px;
  border-width: 0;
}

input[type="text"] {
  text-align: center;
  height: 60px;
  top: 10px;
  border: none;
  background: transparent;
  font-size: 20px;
  font-weight: 200;
  width: 313px;
}

input[type="text"]:focus {
  outline: none;
  box-shadow: inset 0 -3px 0 0 #ffffff;
}

::placeholder {
  color: rgb(232, 218, 240);
  opacity: 1;
  font-style:inherit
}


/* Functioning FontAwesome logo (replaces checkbox) */
.fancy-checkbox{  margin-left: 10px;
}
.fancy-checkbox input[type="checkbox"],
.fancy-checkbox .checked {
    display: none;

}

.deleteButton:hover {
  color: rgb(135, 25, 25);
  font-size: 22px;
}


/* Ripple effect */
.ripple {
  background-position: center;
  -webkit-transition: background 0.8s;
  -o-transition: background 0.8s;
  transition: background 0.8s;
}
.ripple:hover {
  background: #a5b3cf radial-gradient(circle, transparent 1%, #6a7883 1%)
    center/15000%;
}
.ripple:active {
  background-color: #1a374d;
  background-size: 100%;
  -webkit-transition: background 0s;
  -o-transition: background 0s;
  transition: background 0s;
}

.ripple.sub:hover {
  background: dimgray -o-radial-gradient(circle, transparent 1%, grey 1%) center/15000%;
  background: dimgray radial-gradient(circle, transparent 1%, grey 1%)
    center/15000%;
}

.myButton {
  color: #fff;
  border-radius: 20px;
  border-width: 0;
  cursor: pointer;
  padding: 10px;
  width: 100px;
  font-size: 17px;
}


button.add {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: #412ac1;
  color: #fff;
  font-size: 25px;
  border-width: 0;
  margin-right: 10px;
  cursor: pointer;
  -webkit-box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
}

button.add:hover {
  background: #33280a ;
  background-position: center;
  -webkit-transition: background 0.8s;
  -o-transition: background 0.8s;
  transition: background 0.8s;

}





/*  Page Background  */


.area{
    background: #373e9d;  
    width: 100%;
    height:100vh;
    z-index: 999 !important;

  
}

.circles{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}



.circ1{
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.2);
  animation: animate 25s linear infinite;
  bottom: -150px;


    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;

        
}


.circ2{
  position: absolute;
  display: block;
  list-style: none;
  background: rgba(255, 255, 255, 0.2);
  animation: animate 25s linear infinite;
  bottom: -150px;


    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;

    }

 .circ3{
      position: absolute;
      display: block;
      list-style: none;
      width: 20px;
      height: 20px;
      background: rgba(255, 255, 255, 0.2);
      animation: animate 25s linear infinite;
      bottom: -150px;
    
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;

    }

.circ4{
      position: absolute;
      display: block;
      list-style: none;
      width: 20px;
      height: 20px;
      background: rgba(255, 255, 255, 0.2);
      animation: animate 25s linear infinite;
      bottom: -150px;
    
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;

    }

 .circ5{
      position: absolute;
      display: block;
      list-style: none;
      width: 20px;
      height: 20px;
      background: rgba(255, 255, 255, 0.2);
      animation: animate 25s linear infinite;
      bottom: -150px;
    
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}
.circ6{
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.2);
  animation: animate 25s linear infinite;
  bottom: -150px;

  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.2);
  animation: animate 25s linear infinite;
  bottom: -150px;

  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}

 .circ7{
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.2);
  animation: animate 25s linear infinite;
  bottom: -150px;

  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}

.circles .circ8{
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.2);
  animation: animate 25s linear infinite;
  bottom: -150px;

  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;

}

.circ9{
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.2);
  animation: animate 25s linear infinite;
  bottom: -150px;

  left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;

}

 .circ10{
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.2);
  animation: animate 25s linear infinite;
  bottom: -150px;

  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}




@keyframes animate {
  /* start shapes  */
  0%{
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
}

/* End shapes  */
  
    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 70%;
    }

}


/* Modal Styling  */
.modal-title {
  font-weight: 600 !important;
}
.modal-content {
  background-color: transparent !important;
  border-width: 0 !important;
}

.modal-header,
.modal-body,
.modal-footer {
  background-color: #373e9d !important;
  border-width: 0 !important;
}

.modal-title {
  color: #c0c9d0;
}

.modal-header {
  border-top-left-radius: 25px !important;
  border-top-right-radius: 25px !important;
}
.modal-footer {
  border-bottom-left-radius: 25px !important;
  border-bottom-right-radius: 25px !important;
}

.form-control {
  background-color: rgb(160, 168, 49) !important;
  border: 3px solid #081e55 !important;
}


/* Footer */

footer {
  background-color: #d1d7e1;
  padding: 5% 0 2% 0;
  overflow: hidden;
  text-align: center;
  margin-top:auto; 
  clear: both;

  
}

.contact-item {
  padding: 0 0.8rem;
  color: #1a374d;
  font-size: 2rem;
}

.contact-item:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}








